In [3]:
import pandas as pd

df = pd.read_excel("DatasetAAPl.xlsx")

In [12]:
def exponential_smoothing(series, alpha):
    result = [series[0]]
    for n in range(1, len(series)):
        result.append(alpha * series[n] + (1 - alpha) * result[n-1])
    return result

In [11]:
df.iloc[:,1:]

,Чистая прибыль,Исслед и разработки,Общие опер. расходы,денежные средства от опер. деятельтности,денежные средства от инвест. Деятельности
0,94.680,21.914,256.868,93.146,-14.545
1,57.411,18.752,208.277,80.675,-4.289
2,55.256,16.217,196.244,69.391,45.896
3,59.531,14.238,194.697,77.434,16.066
4,48.351,11.581,167.890,64.255,-46.446
5,45.687,10.045,155.615,66.231,-45.977
6,53.348,8.067,162.485,81.266,-56.277
7,39.510,6.041,130.292,59.713,-22.567
8,31.244,5.340,167.546,50.310,-36.765
9,45.460,4.127,141.578,69.468,68.489